# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.RandomGame.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Workspace\random_game\RandomGame\.idea\.idea.RandomGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
